<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
   <h3>List of Patients</h3>
   <table>
	   <thead>
		   <tr>
			   <td>ID</td> <td>First Name</td> <td>Last Name</td> <td>Date</td> <td>Score</td> <td>Sick</td>
		   </tr>  
	   </thead>
	   <tbody>
		   <tr th:each="p:${listPatients}">
			   <td th:text="${p.id}"></td>
			   <td th:text="${p.firstName}"></td>
			   <td th:text="${p.lastName}"></td>
			   <td th:text="${p.dateOfBirth}"></td>
			   <td th:text="${p.score}"></td>
			   <td th:text="${p.sick}"></td>
		   </tr>
	   </tbody>
   </table>
 </body>
</html>